<md-content layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-4dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>&#xE5C4;</md-icon>
      </md-button>
      <p>{{ impressions.title }}</p>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-if="!impressions.photoList"></md-progress-linear>

  <md-content>

    <div layout="row" layout-align="center">
      <md-select ng-model="selectedDay" placeholder="Day">
        <md-option ng-repeat="(day, data) in impressions.photoList" ng-value="day">{{day}}</md-option>
      </md-select>

      <md-select  ng-model="$parent.selectedTime" placeholder="Time" ng-if="selectedDay && impressions.photoList[selectedDay].length != 0 && selectedDay != 'Other'">
        <md-option ng-repeat="(time, data) in impressions.photoList[selectedDay]" ng-value="time">{{time}}</md-option>
      </md-select>
    </div>

    <md-grid-list
        md-cols="3" md-cols-gt-xs="5" md-cols-gt-sm="7" md-cols-gt-md="9"
        md-row-height="1:1" 
        md-gutter="4px">
      <md-grid-tile
          ng-repeat="photoId in impressions.photoList[selectedDay][impressions.photoList[selectedDay][selectedTime] ? selectedTime : 'Other']"
          md-colspan="1" md-rowspan="1"
          ng-click="impressions.showPhoto($event, photoId)">
          <img ng-src="https://ebs.api.nubenum.de/res/impressions/thumbs/{{photoId}}.jpg" loading-src="img/photo_thumb.jpg" style="width:100%;">
      </md-grid-tile>
    </md-grid-list>
    <p ng-if="!impressions.photoList[selectedDay][impressions.photoList[selectedDay][selectedTime] ? selectedTime : 'Other']" class="empty-note">
      <span ng-if="selectedDay && impressions.photoList[selectedDay].length == 0">There are no photos yet for the selected timespan. Please check back soon.</span>
      <span ng-if="!(selectedDay && impressions.photoList[selectedDay].length == 0)">Please select the day and time when you were at the photo wall.</span>
    </p>
  </md-content>  
</md-content>