<md-dialog layout="column" layout-align="center center"> 
  <md-dialog-content>
    <img ng-src="https://ebs.api.nubenum.de/res/impressions/full/{{photo}}.jpg" style="width:100%">
  </md-dialog-content>
  <md-dialog-actions layout="row">          
    <span flex></span>
    <md-button ng-click="share()" class="icon-text"><md-icon>share</md-icon> Share</md-button>            
    <md-button ng-click="hide()" class="icon-text"><md-icon>close</md-icon> Close</md-button>
  </md-dialog-actions>
</md-dialog>
  