<md-content layout="column" layout-fill class="card-bg">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p>{{ partners.title }}</p>
    </div>
  </md-toolbar>
  <md-tabs md-stretch-tabs="auto" class="md-primary" flex>
        <md-tab ng-repeat="filter in partners.filters" label="{{filter.name}}">
          <md-tab-content class="card-bg">
            <p ng-if="filter.id == 'corporate'" class="subhead">Corporate Partners</p>
            <div style="padding:4px;" layout="row" layout-wrap>
                <div flex="50" flex-gt-xs="33" flex-gt-sm="25" flex-gt-md="20" flex-gt-lg="10" ng-repeat="partner in filtered1 = (partners.$storage.data.partners | filter:{type:filter.id}:true)">
                    <md-card style="margin:4px">
                      <img ng-src="{{partner.web?'https://ebs.api.nubenum.de/res':'img'}}/partners/{{partner.id}}.png" loading-src="img/partner.png" class="md-card-image">
                    </md-card>
                </div>
            </div>
            <p ng-if="filtered1.length == 0" class="empty-note">There are no partners yet in this section</p>
            <span ng-if="filter.id == 'corporate'">
              <p class="subhead">Media Partners</p>              
              <div style="padding:4px;" layout="row" layout-wrap>
                <div flex="50" flex-gt-xs="33" flex-gt-sm="25" flex-gt-md="20" flex-gt-lg="10" ng-repeat="partner in filtered2 = (partners.$storage.data.partners | filter:{type:'media'}:true)">
                    <md-card style="margin:4px">
                      <img ng-src="{{partner.web?'https://ebs.api.nubenum.de/res':'img'}}/partners/{{partner.id}}.png" loading-src="img/partner.png" class="md-card-image">
                    </md-card>
                </div>
              </div>
              <p ng-if="filtered2.length == 0" class="empty-note">There are no partners yet in this section</p>            
            </span>
          </md-tab-content>
        </md-tab>
    </md-tabs>

</md-content>

