<md-content layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-4dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p>{{ shuttle.title }}</p>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-align="center center">

        
    <div  layout="column" layout-align="center center">
      <p ng-if="shuttle.$storage.data.shuttleDisabled" layout-padding>It is not possible to ask for a shuttle via the app right now. You can still view the pick-up locations.</p>
      <p ng-if="!shuttle.$storage.data.shuttleDisabled && !shuttle.$storage.settings.shuttleRequestedTo" layout-padding>For EBS Symposium attendees, we're providing a shuttle service from selected pick-up locations. You can let us know at which location you need a shuttle so that we can send you one faster.</p>
      <p ng-if="!shuttle.$storage.data.shuttleDisabled && shuttle.$storage.settings.shuttleRequestedTo" layout-padding>
        You have asked for a shuttle at <b>{{shuttle.getObjectById(shuttle.$storage.settings.shuttleRequestedTo, shuttle.$storage.data.pickupLocations).name}}</b>.
       
        <span ng-if="shuttle.$storage.settings.shuttleStatus==2" md-colors="{color:'warn'}">Your shuttle is on its way.</span>
        <span ng-if="shuttle.$storage.settings.shuttleStatus==3" md-colors="{color:'warn'}">We hope you had a good ride. Still left in the rain? Just need another one?</span>
      </p>
      <md-button ng-if="!shuttle.$storage.data.shuttleDisabled && shuttle.$storage.settings.shuttleRequestedTo && shuttle.$storage.settings.shuttleStatus!=3"  ng-href="https://www.google.de/maps/search/{{shuttle.getObjectById(shuttle.$storage.settings.shuttleRequestedTo, shuttle.$storage.data.pickupLocations).lat}},{{shuttle.getObjectById(shuttle.$storage.settings.shuttleRequestedTo, shuttle.$storage.data.pickupLocations).lon}}">Directions to there</md-button>
      <md-button class="md-accent md-raised" aria-label="Ask for a shuttle" ng-href="#/shuttleLocations" ng-if="shuttle.$storage.settings.shuttleStatus != 1 && shuttle.$storage.settings.shuttleStatus != 2 || shuttle.$storage.data.shuttleDisabled">
          <md-icon>directions_bus</md-icon> {{shuttle.$storage.data.shuttleDisabled ? 'View Pick Up Locations' : 'Ask for a shuttle'}}
      </md-button>
      <md-button class="md-raised" aria-label="Cancel request" ng-click="shuttle.cancelShuttle()" ng-if="false && shuttle.$storage.settings.shuttleStatus<2">
          Cancel request
      </md-button>
    </div>


    <p layout-padding>In case of problems or inquiries, please call the shuttle hotline <a href="tel:{{shuttle.$storage.data.shuttleHotline}}">{{shuttle.$storage.data.shuttleHotline}}</a></p>

  </md-content>

  

</md-content>
