<md-content layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-4dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back();">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p>{{ about.title }}</p>
    </div>
  </md-toolbar>

  <md-content>
   

        <md-card>
          Development: <a href="http://nubenum.de">http://nubenum.de</a>
          <md-button class="md-raised" ng-href="http://nubenum.de/inc/feedback/?subject=EBS-Symposium-App">Help with technical issues</md-button>
        </md-card>
    

  </md-content>  
</md-content>