<md-content layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-4dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p>{{ impressions.title }}</p>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-if="!impressions.impressionsNum"></md-progress-linear>

  <md-content>

    <md-grid-list
        md-cols="3" md-cols-gt-xs="5" md-cols-gt-sm="7" md-cols-gt-md="9"
        md-row-height="1:1" 
        md-gutter="4px">
      <md-grid-tile
          ng-repeat="a in impressions.range(impressions.impressionsNum) track by $index"
          md-colspan="1" md-rowspan="1"
          ng-click="impressions.showPhoto($event, impressions.impressionsNum-$index-1)">
          <img ng-src="https://ebs.api.nubenum.de/res/impressions/thumbs/{{impressions.impressionsNum-$index-1}}.jpg" style="width:100%;">
      </md-grid-tile>
    </md-grid-list>
    <p ng-if="!impressions.impressionsNum" class="empty-note">Soon, you will be able to view photos of the symposium here</p>

    <div style="visibility: hidden">
      <div class="md-dialog-container" id="projector">
        <md-dialog layout="column" layout-align="center center"> 
          <md-dialog-content><img ng-if="impressions.selectedPhoto != -1" ng-src="https://ebs.api.nubenum.de/res/impressions/full/{{impressions.selectedPhoto}}.jpg" style="width:100%"></md-dialog-content>
          <md-dialog-actions layout="row">          
            <span flex></span>
            <md-button ng-click="share()" class="icon-text"><md-icon>share</md-icon> Share</md-button>            
            <md-button ng-click="hide()" class="icon-text"><md-icon>close</md-icon> Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      </div>
    </div>
  </md-content>  
</md-content>