<md-toolbar flex class="md-whiteframe-4dp">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button">
       <img class="png-icon" src="img/logo_white.png" style="width: 24px; height: 24px;">
    </md-button>
    <p>{{ main.title }}</p>
  </div>
</md-toolbar>

<md-content>
  <md-list flex>
    <md-list-item ng-repeat="view in main.views" ng-href="#/{{view.id}}">
      <md-icon ng-if="view.icon.indexOf('/') != -1" md-svg-src="{{view.icon.indexOf('/') != -1 ? view.icon : ''}}"></md-icon>
      <md-icon ng-if="view.icon.indexOf('/') == -1">{{view.icon}}</md-icon>
      <p>{{view.title}}</p>
    </md-list-item>
  </md-list>
</md-content>