<md-content layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-4dp">
    <div><img class="" src="img/logo_big.png" style="margin: 16px auto;display:block;width:90%;max-width:500px;"></div>
  </md-toolbar>


  <md-content class="max-width">
    <p layout-padding ng-if="main.isUpdateRequired()" md-colors="{color:'warn'}">Apparently, the app is outdated. Please update via your app store.</p>

    <div style="padding:4px;" layout="row" layout-wrap>
      <div flex="33" ng-repeat="view in main.views" class="icon-tile">
          <md-button ng-href="#/{{view.id}}">
            <md-icon class="md-48">{{view.icon}}</md-icon>
            <div class="md-padding">
              {{view.title}}
            </div>
          </md-button>                 
      </div>
      <div flex="33" class="icon-tile">
        <md-button ng-href="https://www.facebook.com/ebs.symposium/">
          <md-icon class="md-48" md-svg-src="img/fb.svg"></md-icon>
          <div class="md-padding">
            Facebook
          </div>
        </md-button>
      </div>
      <div flex="33"  class="icon-tile">
        <md-button ng-href="#/about">
          <md-icon class="md-48">info</md-icon>
          <div class="md-padding">
            About
          </div>
        </md-button>
      </div>
    </div>  
  </md-content>      
</md-content>