<md-content layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-4dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p>{{ news.title }}</p>
    </div>
  </md-toolbar>
  
  <md-content>
    <md-list flex>
      <md-list-item class="md-3-line md-long-text" ng-repeat="message in news.$storage.news">          
        <div class="md-list-item-text">
          <h3>{{ message.title }}</h3>
          <p>{{message.body}}</p>
        </div>
      </md-list-item>
    </md-list>
    <p ng-if="!news.$storage.news" class="empty-note">There are no news yet</p>
  </md-content>
      
</md-content>
