<md-content layout="column" layout-fill class="card-bg">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p flex>{{ personal.title }}</p>
    </div>
  </md-toolbar>
  <md-tabs md-stretch-tabs="auto" class="md-primary" md-selected="personal.today" flex>
      <md-tab ng-repeat="day in personal.days" label="{{day.title}}">
        <md-content class="card-bg">
          <div class="max-width">
            <md-card ng-repeat="session in filtered = (personal.$storage.data.schedule | filter:{day:day.id}:true | filter:personal.personalFilter) | orderBy:'start'">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-subhead" style="text-transform:uppercase;">{{session.type}}</span>
                  <h3 ng-if="session.type == 'speech'" ng-click="personal.showSpeaker($event, session.speakers[0])">{{personal.getSpeakerById(session.speakers[0]).name}}</h3>
                  <h3 ng-if="session.type != 'speech'">{{session.title}}</h3>
                  <span class="md-subhead">{{personal.getSpeakerById(session.speakerId).name}}</span>
                  <span><md-icon class="md-18">personal</md-icon> {{personal.getSessionTimeString(session.start,session.duration)}} <md-icon class="md-18">room</md-icon> {{session.room}}</span>
                  <span ng-if="session.type != 'speech'">
                    <span ng-repeat="speaker in session.speakers">
                      <md-button class="block-button" ng-click="personal.showSpeaker($event, speaker)">{{personal.getSpeakerById(speaker).name}} ({{personal.getSpeakerById(speaker).info}})</md-button>
                    </span>
                  <span>
                  <span class="md-subhead" md-colors="{color:'warn'}">{{session.alert}}</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div ng-if="session.type == 'speech'" class="md-media-sm card-media">
                    <img ng-src="img/speakers/{{session.speakers[0]}}.jpg" ng-click="personal.showSpeaker($event, session.speakers[0])" class="md-avatar">
                  </div>
                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="session.type == 'speech' && (!personal.s.ratedSessions || personal.s.ratedSessions.indexOf(session.id) == -1)" class="icon-text" ng-click="personal.rateSession($event, session)" >
                  <md-icon>insert_chart</md-icon> Rate {{session.type}}
                </md-button>
                <!--<md-button ng-if="session.type != 'speech'" class="icon-text" ng-click="personal.showDetails($event, session)">
                  <md-icon>info</md-icon> View Details
                </md-button>-->
                <md-button class="icon-text" ng-click="personal.s.starredEvents[session.id] = !personal.s.starredEvents[session.id];">
                  <md-icon ng-class="!!personal.s.starredEvents[session.id] ? 'md-accent' : ''">{{!!personal.s.starredEvents[session.id] ? 'star' : 'star_border'}}</md-icon> My schedule
                </md-button>
              </md-card-actions>
            </md-card>
            <p class="empty-note" layout="column">
              You can add workshops and interviews you were invited for to your personal schedule.
              <span>
                <md-button ng-if="true" class="icon-text"  ng-click="personal.addInvite($event, 'workshop')" >
                  <md-icon>add</md-icon> Workshop
                </md-button>
                <md-button ng-if="true" class="icon-text"  ng-click="personal.addInvite($event, 'interview')" >
                  <md-icon>add</md-icon> Interview
                </md-button>
              </span>
            </p>
            <p ng-if="!filtered.length" class="empty-note" layout="column">
             
              Star the events you're attending in order to display them here. Head over to 
              <md-button ng-if="true" class="icon-text" ng-href="#/schedule">
                <md-icon>event</md-icon> Speeches & Panels
              </md-button>
            </p>
          </div>
        </md-content>
      </md-tab>
  </md-tabs>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="rating">
      <md-dialog layout="column" layout-align="center center"> 
        <md-dialog-content layout-padding>
            <h4>Rate {{speakerName}}</h4>
            <md-button class="md-icon-button" ng-click="setStarRating($index+1)" ng-repeat="a in range(5) track by $index">
              <md-icon ng-class="($index < starRating) ? 'md-accent' : ''">{{($index < starRating) ? 'star' : 'star_border'}}</md-icon>
            </md-button>
        </md-dialog-content>
        <md-dialog-actions layout="row">          
          <span flex></span>
          <md-button ng-click="send()" class="icon-text" ng-disabled="starRating == 0"><md-icon>send</md-icon> Send</md-button>            
          <md-button ng-click="hide()" class="icon-text"><md-icon>close</md-icon> Cancel</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="invite">
      <md-dialog layout="column" layout-align="center center"> 
        <md-dialog-content layout-padding>
            <h4>Add {{type == 'workshop' ? 'a workshop':'an interview'}}</h4>
            <md-select ng-model="selectedCompany" placeholder="Company">
              <md-option ng-repeat="company in invites | filter:{type:type}:true" ng-value="company.id">{{company.title}}</md-option>
            </md-select>
            <md-select ng-model="selectedTime" placeholder="Time">
              <md-option ng-repeat="company in companies" ng-value="company.id">{{company.name}}</md-option>
            </md-select>
        </md-dialog-content>
        <md-dialog-actions layout="row">          
          <span flex></span>
          <md-button ng-click="save()" class="icon-text" ng-disabled="!selectedCompany || !selectedTime"><md-icon>check</md-icon> Save</md-button>            
          <md-button ng-click="hide()" class="icon-text"><md-icon>close</md-icon> Cancel</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>

</md-content>