<md-content layout="column" layout-fill class="card-bg">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back();">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p flex>{{ schedule.title }}</p>
      <md-button class="md-icon-button" ng-click="schedule.s.personalEventsView = !schedule.s.personalEventsView;" aria-label="Filter">
        <md-icon>{{schedule.s.personalEventsView ? 'star' : 'star_border'}}</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-tabs md-stretch-tabs="auto" class="md-primary" flex>
      <md-tab label="Thu 28th" layout-fill>
        <md-content class="card-bg" layout-fill>
          <md-card ng-repeat="session in filtered = (schedule.$storage.data.schedule | filter:{day:28}:true | filter:schedule.personalFilter)">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{session.title}}</span>
                <span class="md-subhead">{{schedule.getSpeakerById(session.speakerId).name}}</span>
                <span class="md-subhead">{{session.time}}</span>
                <span class="md-subhead" md-colors="{color:'warn'}">{{session.alert}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media">
                  <a ng-href="#/speakers/{{session.speakerId}}"><img ng-src="img/speakers/{{session.speakerId}}.jpg" class="md-card-image"></a>
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" ng-click="schedule.s.starredEvents[session.id] = !schedule.s.starredEvents[session.id];">
                <md-icon ng-class="!!schedule.s.starredEvents[session.id] ? 'md-accent' : ''">{{!!schedule.s.starredEvents[session.id] ? 'star' : 'star_border'}}</md-icon>
              </md-button>
            </md-card-actions>
          </md-card>
          <p ng-if="!filtered.length" class="empty-note">Please star the events you're attending in order to display them here</p>
        </md-content>
      </md-tab>
      <md-tab label="Fri 29th">
        <md-content class="card-bg">
          <md-card ng-repeat="session in filtered = (schedule.$storage.data.schedule | filter:{day:29}:true | filter:schedule.personalFilter)">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{session.title}}</span>
                <span class="md-subhead">{{schedule.getSpeakerById(session.speakerId).name}}</span>
                <span class="md-subhead">{{session.time}}</span>
                <span class="md-subhead" md-colors="{color:'warn'}">{{session.alert}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media">
                  <a ng-href="#/speakers/{{session.speakerId}}"><img ng-src="img/speakers/{{session.speakerId}}.jpg" class="md-card-image"></a>
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" ng-click="schedule.s.starredEvents[session.id] = !schedule.s.starredEvents[session.id];">
                <md-icon ng-class="!!schedule.s.starredEvents[session.id] ? 'md-accent' : ''">{{!!schedule.s.starredEvents[session.id] ? 'star' : 'star_border'}}</md-icon>
              </md-button>
            </md-card-actions>
          </md-card>
          <p ng-if="!filtered.length" class="empty-note">Please star the events you're attending in order to display them here</p>
        </md-content>
      </md-tab>
      <md-tab label="Sat 30th">
        <md-content class="card-bg">
          <md-card ng-repeat="session in filtered = (schedule.$storage.data.schedule | filter:{day:30}:true | filter:schedule.personalFilter)">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{session.title}}</span>
                <span class="md-subhead">{{schedule.getSpeakerById(session.speakerId).name}}</span>
                <span class="md-subhead">{{session.time}}</span>
                <span class="md-subhead" md-colors="{color:'warn'}">{{session.alert}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media">
                  <a ng-href="#/speakers/{{session.speakerId}}"><img ng-src="img/speakers/{{session.speakerId}}.jpg" class="md-card-image"></a>
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" ng-click="schedule.s.starredEvents[session.id] = !schedule.s.starredEvents[session.id];">
                <md-icon ng-class="!!schedule.s.starredEvents[session.id] ? 'md-accent' : ''">{{!!schedule.s.starredEvents[session.id] ? 'star' : 'star_border'}}</md-icon>
              </md-button>
            </md-card-actions>
          </md-card>
          <p ng-if="!filtered.length" class="empty-note">Please star the events you're attending in order to display them here</p>
        </md-content>
      </md-tab>
  </md-tabs>
</md-content>