<md-content layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p>{{ shuttleLocations.title }}</p>
    </div>
  </md-toolbar>
         
   
  <md-tabs md-stretch-tabs="auto" class="md-primary" layout-fill>
      <md-tab label="List">
        <md-tab-content>
          <md-list flex>
            <md-list-item ng-repeat="location in shuttleLocations.$storage.data.pickupLocations" class="secondary-button-padding">
              <p>{{ location.name }}</p>
              <md-button class="md-secondary" ng-click="shuttleLocations.requestShuttle(location.id)">Request now</md-button>
            </md-list-item>
          </md-list>
        </md-tab-content>
      </md-tab>
      <md-tab label="Map" layout-fill>
        <md-tab-content layout-fill>
          <mapboxgl gl-style="'https://osm.api.nubenum.de/styles/osm-bright/style.json'"  gl-center="{lat:50.0121135,lng:8.0504839}" gl-zoom="{value:11}" gl-markers="shuttleLocations.glMarkers" layout-fill></mapboxgl>  
         
        </md-tab-content>
      </md-tab>
  </md-tabs>
</md-content>
