<md-content layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <p>{{ shuttleLocations.title }}</p>
    </div>
  </md-toolbar>
         
   
    <md-tabs md-stretch-tabs="auto" class="md-primary" flex>
      <md-tab label="List">
        <md-tab-content>
          <md-list flex>
            <md-list-item ng-repeat="location in shuttleLocations.$storage.data.pickupLocations" class="secondary-button-padding">
              <p>{{ location.name }}</p>
              <md-button class="md-secondary" ng-href="https://www.google.de/maps/search/{{location.lat}},{{location.lon}}">Route</md-button>
              <md-button ng-if="!shuttleLocations.$storage.data.shuttleDisabled" class="md-secondary" ng-click="shuttleLocations.confirmRequest($event, shuttleLocations.currentMarker.id)">Ask now</md-button>
            </md-list-item>
          </md-list>
        </md-tab-content>
      </md-tab>
      <md-tab label="Map" layout="column" flex>
        <md-tab-content layout="column" flex>
          <p ng-if="!shuttleLocations.map" layout-padding class="empty-note">You need an internet connection to view the map.</p>
          <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyA8saAicVtJk5Ht19mlC5GJrsqmLnADwDQ" layout-fill>
            <ng-map center="50.0121135,8.0504839" zoom="11" layout-fill>

              <marker id="{{marker.id}}" position="{{marker.lat}},{{marker.lon}}"
                ng-repeat="marker in shuttleLocations.markers"
                on-click="shuttleLocations.showInfo(marker)">
              </marker>
              <marker id="center" position="50.0121135,8.0504839" label="EBS">
              </marker>


              <info-window id="info">
                <div ng-non-bindable="">
                  <p>{{shuttleLocations.currentMarker.name}}</p>
                  <md-button class="block-button" ng-href="https://www.google.de/maps/search/{{shuttleLocations.currentMarker.lat}},{{shuttleLocations.currentMarker.lon}}">Route</md-button>
                  <md-button class="block-button" ng-if="!shuttleLocations.$storage.data.shuttleDisabled" ng-click="shuttleLocations.confirmRequest($event, shuttleLocations.currentMarker.id)">Ask now</md-button>
                </div>
              </info-window>
            </ng-map>
          </div>
         
        </md-tab-content>
      </md-tab>
  </md-tabs>
</md-content>

