@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Montserrat'),
       local('Montserrat-Regular'),
       url(Montserrat-Regular.woff2) format('woff2'),
       url(Montserrat-Regular.woff) format('woff'),
       url(Montserrat-Regular.ttf) format('truetype');
}
