@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
       local('Montserrat-Regular'),
       url(Montserrat-Regular.woff2) format('woff2'),
       url(Montserrat-Regular.woff) format('woff'),
       url(Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat SemiBold'),
       local('Montserrat-SemiBold'),
       url(Montserrat-SemiBold.woff2) format('woff2'),
       url(Montserrat-SemiBold.woff) format('woff'),
       url(Montserrat-SemiBold.ttf) format('truetype');
}
