* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-decoration: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: Montserrat, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1,h2,h3,h4,h5,h6, md-toolbar p {
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.empty-note {
    color: #707070;
    text-align: center;
    padding: 20px;    
}
.empty-note.empty-note-buttons p {
    margin-bottom: 0;
}

.md-media-sm.card-media {
    padding-left: 16px;
}

md-card-title h3 {
    margin-top: 0;
    text-transform: none;
}

.card-bg {
    background-color: #ededed;
}

md-tabs-wrapper {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.icon-text md-icon {
    margin-top: -3px;
    margin-left: -4px;
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.max-width {
    max-width: 600px;
    margin: 0 auto;
}

.material-icons.map-marker {
    color: #b20702;
    font-size:36px;
}

.material-icons.md-18 { 
    font-size: 18px; 
    min-width: 18px;
    margin: 0;
}

.block-button, .md-button.block-button  {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.md-subhead.upper {
    text-transform: uppercase;
}

md-select.select-inline {
    margin:0px 4px 24px 4px;
    display:inline-block;
}