* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-decoration: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: Montserrat, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.empty-note {
    color: #707070;
    text-align: center;
    padding: 20px;    
}

.md-media-sm.card-media {
    padding-left: 16px;
}

#map {
height: 400px;
width: 100%;
}

.card-bg {
    background-color: #ededed;
}

md-tabs-wrapper {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}